* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

#search-box {
  font: inherit;
  padding: 8px;
  max-width: 320px;
  margin-bottom: 16px;
}
.gallery {
  display: grid;
  max-width: 1140px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-auto-rows: 330px;
  grid-gap: 12px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.gallery__item {
  position: relative;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}
.gallery__image {
display: block;
height: 250px;
max-width: 100%;
object-fit: cover;
}
.gallery__link {
  display: block;
  text-decoration: none;
  height: 100%;
}


.photo-card {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.info {display: flex;
text-align: center;
  padding: 15px;
}
p {  margin: 0;
}
.isHidden {
display: none;
}
#search-input{
  margin-right: 5px;
}
.search-form{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.load-button-conteiner{
display: flex;
  justify-content: center;
  margin-top: 10px;

}